// Note: This is an example of components style, so please remove it or re-write it on your styles.

#wrapper {
  overflow: hidden;
}

.dots-container {
  height: 100vh;
  background: rgb(14, 94, 79);
}

.ball {
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 50%;
  position: absolute;

  &-1 {
    top: 0;
    left: 0;
  }

  &-2 {
    top: 0;
    right: 0;
  }

  &-3 {
    bottom: 0;
    left: 0;
  }

  &-4 {
    bottom: 0;
    right: 0;
  }

}
