// This is base reset for global components.
//
// Note: If you use a framework that includes base styling then you need to remove this file.

html {
  height: 100%;
  width: 100%;
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(60, 60, 65);
  font-family: 'Fjalla One', sans-serif;
}

// adaptive images
img {
  max-width: 100%;
  height: auto;
}

// google map fix
.gm-style img {max-width: none;}

// hide tel links on desktop
@media only screen and (min-width: 1025px) {
    a[href^="tel"], a[href^="skype"], a[href^="sms"] {
    cursor: default;
    pointer-events: none;
  }
}
